{% extends "base.html" %}
{% load static %}

{% block links %}

    <link rel="stylesheet" href="{% static 'gallery/css/email.css' %}">

{% endblock links %}

{% block content %}
<section class="hero" id="home">
    <img class="hero-bg" src="{{ info.banner_image.url }}" alt="Hero background">
    
    <div class="hero-content fade-in">
        <h1>{{ info.title }}</h1>
        <p>{{ info.description }}</p>
        <div class="btn-group">
            <a href="#gallery" class="btn">Мої роботи</a>
            <a href="#contact" class="btn btn-outline">Зв'язатися</a>
        </div>
    </div>
</section>
    
    <!-- Категории -->
    <section class="categories" id="categories">
        <div class="container">
            <h2 class="section-title fade-in">Мої напрямки</h2>
            <p class="section-subtitle fade-in delay-1">Кожна фотографія – це історія, яку я допомагаю розповісти</p>
            
            <div class="category-grid">
                {% for cat in category %}
                    <a href="{% url 'gallery:category' cat.slug %}">
                        <div class="category-card fade-in delay-1">
                            <img src="{{ cat.photo.url }}" alt="Свадебная фотография">
                            <div class="category-overlay">
                                <h3>{{ cat.name }}</h3>
                                <p>{{ cat.description }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
                
            </div>
        </div>
    </section>
    
    <!-- Галерея -->

    <section class="gallery" id="gallery">
        <div class="container">
            <h2 class="section-title fade-in">Мої роботи</h2>
            <p class="section-subtitle fade-in delay-1">Найкращі кадри з останніх проектів</p>
            
            <div class="gallery-grid">
                {% for album in albums %}
                    {% if album.category.type_of_content == 'photo' %}
                        <a href="{% url 'gallery:personal' album.slug %}">
                            <div class="gallery-item fade-in delay-1">
                                {% with last_photo=album.photos.last %}
                                    <img src="{{ last_photo.images.url }}" alt="{{ album.name }}"> 
                                {% endwith %}
                                <div class="gallery-item-caption">
                                    <h3 class="album-name">{{ album.name }}</h3>
                                    <p class="album-description">{{ album.description }}</p>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Статистика -->
    <section class="stats">
        <div class="container">
            <h2 class="section-title fade-in">В <span>цифрах</span></h2>
            
            <div class="stats-container">

                <div class="stat-item fade-in">
                    <div class="stat-number">{{ experience.years_exp }}+</div>
                    <div class="stat-title">Досвід роботи</div>
                </div>

                <div class="stat-item fade-in">
                    <div class="stat-number">{{ experience.drone_flights }}+</div>
                    <div class="stat-title">Вильотів на дроні</div>
                </div>

                <div class="stat-item fade-in">
                    <div class="stat-number">{{ experience.total_shoots }}+</div>
                    <div class="stat-title">Кількість зйомок</div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- О фотографе -->
    <section class="about" id="about">
        <div class="container">
            <div class="about-container">
                <div class="about-image fade-in">
                    <img src="{{ aboutme.image.url }}" alt="Фотограф">
                </div>
                
                <div class="about-content">
                    <h2 class="fade-in">Про <span>мене</span></h2>
                    <p class="fade-in delay-1">{{ aboutme.description }}</p>
                    
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block email %}
    <section class="contact-form" id="contact-form">
        <div class="container">
            <h2 class="section-title fade-in">Зв'яжіться <span>зі мною</span></h2>
            <p class="section-subtitle fade-in delay-1">Заповніть форму нижче, і я зв'яжусь з вами найближчим часом</p>
            
            <div class="form-container fade-in delay-2">
                <form id="emailForm" method="POST" action="{% url 'gallery:sendmessage' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="{{ form.name.id_for_label }}">Ваше ім'я</label>
                        {{ form.name }}
                    </div>
                    
                    <div class="form-group">
                        <label for="{{ form.email.id_for_label }}">Ваш email</label>
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.phone_number.id_for_label }}">Ваш номер телефону</label>
                        {{ form.phone_number }}
                    </div>
                    
                    <div class="theme-selector">
                        <label for="{{ form.theme_message.id_for_label }}">Тема повідомлення</label>
                        {{ form.theme_message }}
                    </div>
                    
                    <div class="form-group">
                        <label for="{{ form.message.id_for_label }}">Ваше повідомлення</label>
                        {{ form.message }}
                    </div>
                    
                    <button type="submit" class="submit-btn">Відправити повідомлення</button>
                </form>
                
                {% comment %} Отправить messages на index {% endcomment %}
                <div class="form-success" id="formSuccess">
                    <i class="fas fa-check-circle"></i>
                    <h3>Повідомлення відправленно</h3>
                    <p>Я зв'яжусь з вами у ближайший час</p>
                </div>
            </div>
        </div>
    </section>
{% endblock email %}

{% block js %}
    <script src="{% static 'gallery/js/index.js' %}"></script>
{% endblock js %}